@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro');

body {
    font-family: 'Source Code Pro', monospace;
    color: white;
    background-color: black;
}

.typewriter h2 {
    font-size: 20;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .1em;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The animation code */
@keyframes color {
    0% {
        background-color: black;
    }

    100% {
        background-color: black;
    }
}

#outer {
    padding: 5%;
}

#authors {
    padding-top: 10%;
    padding-bottom: 18%
}

/* First slide */
* {
    margin: 0;
    padding: 0;
}

#parent {
    display: flex;
    justify-content: space-around;
}

#left {
    padding-top: 10%;
    width: 40%;
}

#right {
    padding-top: 1%;
    width: 40%;
}

#left1 {
    padding-top: 1%;
    width: 40%;
}

#right1 {
    padding-top: 10%;
    width: 40%;
}

a {
    color: #915a46;
}


#slidecount {
    margin-left: 5%;
}

#left3 {
    padding-top: 1%;
    width: 40%;
}

/* tooltips */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

.tooltip:hover {
    color: #599CD0;

}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200%;
    background-color: white;
    color: black;
    text-align: left;
    padding: 3%;
    border-radius: 6px;
    margin-right: 300%;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

#secondbox2 {
    padding-top: 10%;
    padding-bottom: 18%;
    margin-right: 20%;
}

#secondbox3 {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 20%;
}
